@import "../../../../styles/MainStyles.scss";

.AuthenticationLink {
  cursor: pointer;
  margin-top: 12px;
  background: none;
  border: none;
  font-family: $secondary-font;
  color: $secondary-text-color;
  opacity: 0.6;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.02em;
}
