$main-background-color: #191919;
$black-bg-color: #121212;
$bg-color3: #202020;
$bg-color4: #222222;

$bg-hover1: #414141;
$bg-hover2: #fff;

$primary-text-color: #fff;
$secondary-text-color: #bfbfbf;
$secondary-text-color2: #707070;

$black-text-color: #232323;

$border-color: #8c8c8c;

$linear-gradient1: linear-gradient(to right, #d5147e, #ff8c29);
