@import "../../styles/MainStyles.scss";

.Header__logo {
  cursor: pointer;

  font-family: $primary-font;
  color: $primary-text-color;

  font-weight: 500;
  font-size: 32px;

  .Header__logo-highlight {
    font-weight: 700;

    padding-right: 3px;
    background: linear-gradient(to right, #ff527b, #c92539);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
